[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "riskscores"]
	path = riskscores
	url = https://github.com/hjeglinton/riskscores
